/* #noparents */

body {
  color: #333333;
  font-size: 12px;
  font-family: 'Libre Baskerville', 'Baskerville', Georgia, serif;
  text-align: center;
}

table {
  margin: auto;
}

a {
  color: #333333;
  text-decoration: none;
  padding-bottom: 0px;
  border-bottom: 2px #CCF4FF solid;
}

a:hover {
  color: #47CCFC;
}

td {
  width: 160px;
  vertical-align: top;
}

.header td {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.days td {
  padding-top: 2px;
  height: 100px;
  border-bottom: 1px solid #f0f0f0;
}

.empty {
  background: repeating-linear-gradient(0, #eee 0, #eee 1px, white 1px, white 5px);
  background-size: 1px 5px;
}

.event {
  padding: 3px;
}

.day {
  font-weight: bold;
  padding: 6px 10px;
  margin-bottom: 5px;
  position: relative;
}

.today .day:before {
  display: block;
  content: "";
  width: 24px; height: 24px;
  border: 1px solid #47CCFC;
  border-radius: 24px;

  position: absolute;
  left: 50%;
  margin-left: -13px;
  top: 0;
}
