/* #noparents */

body {
  color: #333333;
  font-size: 12px;
  font-family: 'Libre Baskerville', 'Baskerville', Georgia, serif;
  text-align: center;
}

a {
  color: #333333;
  text-decoration: none;
  padding-bottom: 0px;
  border-bottom: 2px #CCF4FF solid;
}

a:hover {
  color: #47CCFC;
}

td {
  width: 160px;
  vertical-align: top;
}

.header td {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.days td {
  padding-top: 2px;
  height: 100px;
  border-bottom: 1px solid #f0f0f0;
}

.event {
  padding: 3px;
}

.day {
  font-weight: bold;
  padding: 6px 10px;
  margin-bottom: 5px;
}
